doctype html
html
  head
    title Weather App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="style.css")
  header
  h1(class="h1")
    | Your Local Weather
  body(class="body")
    div(class="main" id="mainx")
      div(id="location") Fetching Location...
      div(id="time") 
      div(id="temp") 
      img(id="img" src="/img/clear.png")
      div(id="description") 
      div(id="forecast") 
    script(src="/client.js")