doctype html
html
  head
    title Weather App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="style.css")
  header
  h1(class="h1")
    | Weather
  body(class="body")
    div(class="buttons")
      div(class="switch")
        span Day/Night
        input(id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox")
        label(for="cmn-toggle-1" id="themeBtn")
      div(class="switch")
        span C째/F째
        input(id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox")
        label(for="cmn-toggle-7" data-on="F째" data-off="C째" id="tempBtn")
    div(class="main" id="mainx")
      div(id="location") Fetching Location...
      div(id="time") 
      div(id="temp") 
      img(id="img" src="/img/clear.png")
      div(id="description") 
      div(id="forecast") 
    script(src="/client.js")